# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Data
data/raw/
data/processed/
*.parquet
*.zip
*.csv

# Allow sample data
!data/sample/
!data/sample/**

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

